<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">Active Tasks</div>
    <div class="panel-body">
      <ul class="operators">
        <li *ngFor="let operator of activeTaskOperators">
          <div class="btn-group" dropdown>
            <button dropdownToggle type="button" id="{{operator.operId}}" class="btn btn-default dropdown-toggle">
              {{operator.firstName}} {{operator.lastName}} ({{operator.assignedTask}}) <span class="caret"></span>
            </button>
            <ul *dropdownMenu class="dropdown-menu" role="menu">
              <li role="menuitem"><a class="dropdown-item" (click)="targetForCompleteTask(operator)">Complete Task</a></li>
              <li role="menuitem"><a class="dropdown-item" (click)="targetForCancelTask(operator)">Cancel Task</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<!--This is the tasks modal that pops up when the Complete option is chosen-->

<div bsModal #taskResultsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Select a Result</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideTaskResultsModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="tasks">
          <li *ngFor="let result of taskResults" (click)="assignTaskResultToSelectedOperator(result)">
            {{result}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>