.operators button{
    margin: .2em;
    width: 175px;
}

.dropdown-menu li:hover{
    cursor: pointer;
}

 .tasks li{
    cursor: pointer;
}

 .tasks li:hover{
    background-color: #DDD;
}

.panel-body{
    display: flex;
    min-height: 300px;
    max-height: 300px;
}

.operators{
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
}

.modal-dialog{
    overflow-y: initial;
}
.modal-body{
    max-height: 500px;
    overflow-y: auto;
}