<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">Bullpen</div>
    <div class="panel-body">
      <ul class="operators">
        <li *ngFor="let operator of operators">
          <div *ngIf="operator.inBullpen" class="btn-group" dropdown>
            <button dropdownToggle type="button" id="{{operator.operId}}" class="btn btn-default dropdown-toggle">
              {{operator.firstName}} {{operator.lastName}} <span class="caret"></span>
            </button>
            <ul *dropdownMenu class="dropdown-menu" role="menu">
              <li role="menuitem"><a class="dropdown-item" (click)="target(operator)">Assign Task</a></li>
              <li role="menuitem"><a class="dropdown-item" (click)="removeOperator(operator)">Remove from Bullpen</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<!--This is the tasks modal that pops up when the Assign Task option is chosen-->

<div bsModal #tasksModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Select a Task</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideTasksModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="tasks">
          <li *ngFor="let task of tasks" (click)="assignTaskToSelectedOperator(task)">
            {{task}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>