.bullpen{
    min-height: 500px;
}

ul{
    list-style-type: none;
}

.operators button{
    margin: .2em;
}

.dropdown-menu li:hover{
    cursor: pointer;
}

.tasks li{
    cursor: pointer;
}

.tasks li:hover{
    background-color: #DDD;
}

.panel-body{
    min-height: 300px;
}